<% @songs.order("vote_count DESC").each do |song| %>
  <div class="song">
    <%= youtube_embed  song.url  %>

    <h3> 
    <% if current_user %>
      <a href="/songs/<%= song.id %>">
        <%= song.name %>
      </a> 
      <% else %>
      <%= song.name %>
    <% end %>
      <small>
        (by: <%= song.artist %>)
      </small> 
    </h3>
    
    <p><strong>Genre:</strong> <span style="color:blue"><%= song.genre %></span> </p>

    <!-- <p> <a href="<%= song.url %>"><span style="color:red"><%= song.url %></span></a> </p> -->

    <% if current_user %>
    <% vote = !song.upvoted_by?(current_user) ? "like" : "unlike" %>
    <form action="/songs/<%= vote %>/<%= song.id %>" method="POST">
        <div>
          <input type="submit" name="song_id" value="<%= vote.titlecase %>">
        </div>
        <% true %>
      </form>
    <% end %>
    <p><strong>Likes: <%= song.vote_count  %></strong></p>
  




    <p><small><strong>Posted by:</strong> <span style="color:red"><%= User.find_by_id(song.user_id).try(:email) %></span></small> </p>

  
    <!-- <p> <a href="<%= song.url %>"><span style="color:red"><%= song.url %></span></a> </p> -->
  </div>

  <hr>

<% end %>

<br>

<p><strong><a href="/songs/new">Post a song - All the Kool Peeps are doing it!</a></strong></p>




