<% @songs.each do |song| %>
  <div class="song">
    <h3> <a href="/songs/<%= song.id %>"><%= song.name %></a> <small>(by: <%= song.artist %>)</small> </h3>
    <p> <a href="<%= song.url %>"><span style="color:red"><%= song.url %></span></a> </p>
  </div>

  <hr>

<% end %>

<br>

<p><strong><a href="/songs/new">Post a song - All the Kool Peeps are doing it!</a></strong></p>