<h2> Be <span style=color:blue>KOOL</span> and post your favourite song!</h2>

<% if @song.errors.any? %>
  <div>
    <span style="color:red"><strong>Some issues with your attempt to post on the Wall of Sound, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul></span>
  </div>
<% end %>

<form action="/songs" method="POST">
  <div>
    <label>Song Name:</label>
    <input type="text" placeholder="Minimum of 3 characters" name="song" value="<%= @song.name %>">
  </div>
  <div>
    <label>Artist:</label>
    <input type="text" placeholder="Minimum of 3 characters" name="artist" value="<%= @song.artist %>">
  </div>
  <div>
    <label>Genre:</label>
    <input type="text" placeholder="Optional, but reccomended" name="genre" value="<%= @song.genre %>">
  </div>
  <div>
    <label>URL:</label>
    <input type="string" placeholder="Optional, but reccomended" name="url" value="<%= @song.url  %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<p><strong><a href="/songs">Visit to the public Wall of Sound</a></strong></p>