<h1>Artist: <%= @song.artist %></h1>

<p><strong>Name:</strong>  <span style="color:blue"><%= @song.name %></span></p>

<p><strong>Genre:</strong> <span style="color:blue"><%= @song.genre %></span> </p>

<p><strong>URL:</strong>  <a href="<%= @song.url %>"><span style="color:red"><%= @song.url %></span></a></span></p>

<hr>
<p><strong><a href="/songs">Return to the public Wall of Sound</a></strong></p>
<p><a href="/songs/new">Post a song - All the Kool Peeps are doing it!</a></p>
